<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products</title>
</head>

<body>


<form action="" method="get" th:object="${filter}">
    <label for="categoryFilter">Category filter</label>
    <select id="categoryFilter" th:field="*{categoryId}">
        <option th:value="${-1}"></option>
        <option th:each="cat : ${categories}"
                th:value="${cat.id}"
                th:text="${cat.name}">Category</option>
    </select>

    <label for="priceMin">Price from</label>
    <input type="number" id="priceMin" th:field="*{priceMin}" />

    <label for="priceMax">to</label>
    <input type="number" id="priceMax" th:field="*{priceMax}" />

    <input type="submit" value="Apply"/>
</form>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
    </tr>


    <tr th:each="prod:${products}">
        <td th:text="${prod.id}">4</td>

        <td>
            <a th:href="@{/products/edit?id={id}(id=${prod.id})}" th:text="${prod.name}">Product</a>
        </td>

        <td th:text="${prod.description}">Описание</td>

        <td th:text="${prod.categoryName}">Категория</td>

        <td th:text="${prod.price}">100.00</td>
    </tr>

</table>

</body>

</html>
